@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200;300&family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,300;1,500&family=Space+Grotesk:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;1,900&family=Oswald:wght@200;300;600&family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,300;1,500&family=Space+Grotesk:wght@600;700&display=swap');
*{
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* transition: 0.3s; */

    /* font-family: "Space Grotesk", Sans-serif; */
}
:root{
    --linear-gradient : 
    
--color-main: #12c2e9;
--color-primary: #12c2e9;
--color-secondary: #D641A7;
--color-ternary: #F64F59;
}

body{
    /* you can also change the cursor with an image cursor style */
    /* cursor: url("/img/studentplaced.svg"), auto; */
    background:#fff;
    color: #000;
/* cursor: none; */
}
.dark-mode {
  background: #000;
  color:#222;
}

li, a {
    /* font-weight: 500; */
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;

}

header {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 30px 4%;
    background: black;
    height: 9vh;
    /* box-shadow: 2px 2px 2px #ccc; */
    /* position: sticky; */
}
.logo {
    cursor: pointer;
    margin-right: auto;
    font-weight: bolder;
    color: white;
    position: relative;
    display: inline-flex;
    font-size: 2vh;
}
.logo i{
    /* background: linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--color-ternary)); */
    background:#019587;
    font-size: 2vh;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        /* font-size: 3vh; */
      
}
.logo img{
    max-width: 4vh;
}
em{
    /* background: linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--color-ternary)); */
background:#00acee;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        /* font-size: 3vh;  */
        font-style: normal;
}
.nav_links{
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;

}
.nav_links li a {
    transition:  all 0.3s ease 0s;
    /* font-weight: bold; */
}
.nav_links li select{
    font-weight: bold;
    background: transparent;
    color: #ccc;
    outline: none;
    border: none;
    font-size: 16px;

    transition:  all 0.3s ease 0s;

}

.nav_links li a:hover{
  color: #ccc;
  border:2px solid #00acee;
  padding:1.4vh;
  border-radius: 2vh;
}

 .cta {
    margin-left: 20px;
    padding: 10px;
    width: 15vh;
    /* padding: 9px 25px; */
    /* background: linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--color-ternary)); */
background:#00acee;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition:  all 0.3s ease 0s;
    font-weight: bold;
    color: white;
    font-size: 1.7vh;
}

.cta:hover{
    /* background: linear-gradient(to right, var(--color-ternary), var(--color-secondary),var(--color-primary)); */
   transition: 0.3s ease;
        color: #fff;
        text-decoration: none;

}
.homepage{
    height:80vh;
    background:#00acee;
    /* display:flex; */
}
.homepage img{
    width:77vh;
    float:right;
    /* padding:10vh 0vh; */
    margin-top:-39vh;
    /* position:relative; */
margin-right:7vh;

}
.homepage h1{
    color:#fff;
    padding-left:6vh;
    padding-top:10vh;
    font-size:6vh;
}
.homepage h4{
    color:#000;
    width:80vh;
    opacity:0.6;
    padding-left:6vh;
    padding-top:1vh;

}

.wrapper{
  position: absolute;
  top: 20px;
  left: 20px;
  animation: show_toast 1s ease forwards;
}
@keyframes show_toast {
  0%{
    transform: translateX(-100%);
  }
  40%{
    transform: translateX(10%);
  }
  80%, 100%{
    transform: translateX(20px);
  }
}
.wrapper.hide{
  animation: hide_toast 1s ease forwards;
}
@keyframes hide_toast {
  0%{
    transform: translateX(20px);
  }
  40%{
    transform: translateX(10%);
  }
  80%, 100%{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
  }
}
.wrapper .toast{
  background: #fff;
  padding: 20px 15px 20px 20px;
  border-radius: 10px;
  border-left: 5px solid #00acee;
  box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
  width: 430px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .toast.offline{
  border-color: #ccc;
}
.toast .content{
  display: flex;
  align-items: center;
}
.content .icon{
  font-size: 28px;
  color: #fff;
  height: 50px;
  width: 50px;
  padding-top: 1.2vh;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background: #00acee;
}
.toast.offline .content .icon{
  background: #ccc;
}
.content .details{
  margin-left: 15px;
}
.details span{
  font-size: 20px;
  font-weight: 500;
}
.details p{
  color: #878787;
}
.toast .close-icon{
  color: #878787;
  font-size: 29px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding-top: 0.8vh;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background: #f2f2f2;
  transition: all 0.3s ease;
}
.close-icon:hover{
  background: #efefef;
}

.buttons{
  padding-left: 6vh;
  margin-top: 2vh;
  gap: 4vh;
}
.buttons .btn{
  height:6vh;
  width:20vh;
  background:#000;
  color:#fff;
border:none;
border-radius: 1vh;
}
.buttons #ex{
  height:6vh;
  width:20vh;
  color:#fff;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 1vh;

}
.buttons #ex:hover{
  background:#000;
  color:#fff;
  border: none;
}
.buttons .btn:hover{
  background: transparent;
  border:2px solid #fff;
  color:#fff;

}
/* .features{
  height:80vh;
  background:#fff;
}
.features span {
  display:flex;
background:#000;
height: 40vh;
}
.features span .advances{
  background: #00acee;
animation: colorChange .6s infinite alternate;
height:10vh;
width: 30vh;
}
@keyframes colorChange {
  100%{
    background: #00acee;
  }
  50%{
    background: #fff;

  }
  30%{
    background:#ccc;
  }
} */
.features{
  height: 15vh;
  background: #fff;
  display:flex;
  display: none;
   
}
.features .amount{
/* padding-left: 3vh; */
margin:auto;
text-align: center;
  justify-content: center;
  padding-top: 3vh;
  display: none;
  /* margin-left: -3vh; */
}
.features .amount:hover{
  color: #00acee;
  cursor: pointer;
}
.work{
  background: #00acee;
  height: 100vh;
  display:block; 
  margin: auto;
  
}
.work input{
  width:60vh;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  height:5vh;
  background: transparent;
  /* border-bottom-style: 2px solid #00acee; */
  
}
.work .input_word b{
  color: #222;
}
.work input{
  outline: #00acee;
  color:#00acee;
opacity: 0.9;
}
.work [type="text"]{
  outline: #00acee;
border: 2px soild #00acee;
color:#00acee;
opacity: 0.9;
}

.input_word{
  justify-content: center;
  align-items: center;
  padding-top: 6vh;
  margin: auto;
  background:#fff;
  width:70vh;
  height:78vh;
  border-radius: 1vh;
  color:#000;
  padding-left:5vh;

}
.input_word button{
  width: 60vh;
  color: #fff;
  background: #00acee;
  border: none;
  height:7vh;
  font-size: 2.6vh;
  border-radius: 8px;
}
.input_word button:hover{
  opacity: 0.8;
}
.input_word textarea{
  resize: none;
  width: 60vh;
opacity: 0.9;
color:#00acee;


}
textarea::placeholder{
  padding: 3vh 4vh;
  color: #ccc;
}
.team-board{
  background:#fff;
  height:150vh;
}
.team-board h2{
  text-align:center;
  font-size:4vh;
  text-transform:uppercase;
  padding-top:28vh;
}
/* .fix {
  display:flex;
gap:4vh;
justify-content:center;
margin:auto;
padding-top:10vh;
margin-left:9vh;
margin-right:9vh;
}


.users-card{
  background:#000;
  width:60vh;
  height:70vh;
  border-radius: 10px;

} */

.card-fix{
  display:flex;
  margin: auto;
  justify-content:center;
}

.users-card{
  background:#000;
  width:60vh;
  height:70vh;
  /* display:flex; */

}

.advanced {
  height: 47vh;
 
}
/* .advanced .box-shape{
background: #fff;
width: 45vh;
height: 30vh;

} */
.advanced .box-size{
  display: flex;
  margin: auto;
  justify-content: center;
  padding-top: 10vh;
  gap: 4vh;
}
.advanced .box-size .box-shape {
  background: #fff;
animation: outIn .90s infinite alternate;
  width: 40vh;
  height: 29vh;
   border-radius: 10px;
}
@keyframes outIn {
  from {
    transform:  scale(0.7);
  }
  to {
    transform: scale(1.0);
  }
}
.advanced .box-size .box-shape .top-icon img{
 padding: 10.7vh;
 /* background:#00acee; */
 border-radius: 10px;
 width: 28vh;
 text-align: center;
 display: flex;
 margin: auto;
 margin-top: -6vh;
 justify-content: center;

}
.advanced .box-size .box-shape h2{
color: #00acee;
font-weight: bolder;
text-align: center;
margin-top: -7vh;
}
.advanced .box-size .box-shape p{
  text-align: center;
  font-size: 1.7vh;
  padding-left: 2vh;
  padding-right: 2vh;
}
#myBtn {
  display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
border: none;
outline: none;
background: #fff;
cursor: pointer;
border-radius: 24vh;
padding: 2vh;
box-shadow: 4px 10px 14px -5px rgba(0,0,0,0.15);

}
#myBtn img{
  width: 3vh;
}
#confirm{
display: none;
background-color: #fff;
border: 2px solid #aaa;
color: #fff;
position: fixed;
width:60vh;
height: 40vh;
border-radius: 1vh;
left: 50%;
margin: auto;
margin-left: -20vh;
margin-top: -60vh;
padding: 6px 8px 8px;
box-sizing: border-box;
text-align: center;
box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);

}
.message {
  cursor: pointer;
/* display: inline-block; */
text-align: center;
margin: auto;
border-radius: 5px;
padding: 7px;
margin-top: 10vh;
background: #fff;
color: #000;
text-align: center;
width: 20vh;

}
.message h2{
  /* margin-top: -17vh; */
width: 50vh;
text-align: center;
margin: auto;
display: flex;
margin-left: -5vh;
}
.message .buttons{
  display: flex;
  margin-left: -19vh;
}
.message .buttons button {
background:#00acee;
display: inline-block;
border-radius: 5px;
padding: 1.2vh;
border: none;
margin-top: 10vh;
width: 20vh;
text-align: center;
cursor: pointer;
color: white;
font-size: 2vh;
}
footer{
  height:80vh;
display: flex;
background:#00acee;
}
footer .footer-container{
background: #ccc;
width:30vh;
height:30vh;
}
.mobile-container {
  display: none;
}
/* .lst {
  display: none;
} */
@media (max-width: 767px) {
  .homepage h1{
    padding-left:5vh;
    color: #000;
    
  }
  /* .lst {
    display: contents;
  } */
  .homepage {
    height: 130vh;
  }
  .homepage img{
    margin-top:7vh;
    width:57vh;
margin: auto;
padding-right:4vh
  }
  .homepage h4{
    width:50vh;
  }
  .nav_links li a {
    display:none;
  }
  header {
    padding: 30px 8%;
  }
  header button {
    display:none
  }

  .mobile-container {
    max-width: 480px;
    margin: auto;
    /* background-color: #555; */
    height: 500px;
    display: contents;
    color: white;
    border-radius: 10px;
  }
  
.topnav {
  overflow: hidden;
  /* background-color: #333; */
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav #myLinks {
  float: left;
  color: white;
  /* padding: 10px 16px; */
  text-decoration: none;
  font-size: 15px;
  padding: 0px 20px;

}
.icon i{
  font-size: 4vh;

}
.topnav a.icon {
  float: right;
}
.features .amount{
  padding-left: 3vh;
  margin-top: -1vh;
display: none;
}

.advanced {
  height:100vh;
}
.advanced .box-size{
  display: grid;
}
.advanced .box-size .box-shape {
  border: 3px solid #00acee;
}
.input_word {
/* padding-top: 5vh;
padding-right: 4vh;
padding-left: 4vh; */
width:50vh;

}
.input_word button{
  width: 40vh;

}
.input_word textarea{
  width: 40vh; 
}
.work input{
  width: 40vh;
}
#confirm {
width:46vh;
margin-top: -90vh;
margin-left: -23vh;

}
.message .buttons{
  margin-left: -17vh;

}
.message .buttons button {
width: 18vh;

}
.message .buttons button:hover{
  opacity: 0.8;
}
}
@media (max-width: 769px) {
    
  }